{{! Templates

Link
==============
<li class="drawer-list-item">
  <a href="#" title="Follow me on twitter!">
    <i class="fa fa-twitter"></i> Follow me
  </a>
</li>

Divider
==============
<li class="drawer-list-divider"></li>

Title
==============
<li class="drawer-list-item drawer-list-title">
  Follow me
</li>

ProTip:
==============
Ghostium uses Font Awesome you can find all icons available on the url below
  http://fortawesome.github.io/Font-Awesome/cheatsheet/

}}

<li class="drawer-list-item">
  <a href="/" data-pjax>
    <i class="fa fa-home"></i>Home
  </a>
</li>
<li class="drawer-list-item">
  <a href="/about" title="About">
    <i class="fa fa-user"></i> About
  </a>
</li>
<li class="drawer-list-item">
  <a href="/rss/">
    <i class="fa fa-rss"></i>Subscribe
  </a>
</li>


<li class="drawer-list-divider"></li>
<li class="drawer-list-item drawer-list-title">
  Follow me
</li>
<li class="drawer-list-item">
  <a href="http://twitter.com/slyeargin" target="_blank">
    <i class="fa fa-twitter"></i>Twitter
  </a>
</li>
<li class="drawer-list-item">
  <a href="http://github.com/slyeargin" target="_blank">
    <i class="fa fa-github"></i>GitHub
  </a>
</li>
<li class="drawer-list-item">
  <a href="http://delicious.com/slyeargin" target="_blank">
    <i class="fa fa-delicious"></i>Delicious
  </a>
</li>
